/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #2c2c2c;
  color: #4AE4C0;
}

.highlight
{
  color: #DC0A48;
}

h3
{
  font-weight: bold;
}

ul
{
  list-style-type: unset !important;
  margin-left: 4rem;
  padding: unset !important;
}

li
{
  list-style-type: unset !important; 
  margin: unset !important;
  padding: unset !important;
}

.icon-block
{
  padding: 0 15px;
}
.icon-block .material-icons
{
  font-size: inherit;
}

i.fa, i.fab {
  color: #505050;
}

.container
{
  max-width: 1000px;
}

.card
{
  margin-bottom: 5rem;
  margin-left: 0.0rem;
  margin-right: 0.0rem;
}

.card .card-content p
{
  margin-top: 16px;
  margin-bottom: 8px;
}

.card .card-content
{
  padding-bottom: 8px;
}

.footnote
{
  font-size: 0.85rem;
}

/* Modification of classes new and badge */

footer a
{
  color: #eeeeee;
}